<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomForRent.mapper.renter.HouseListMapper">

<select id="getHouseList" resultType="roomForRent.dto.renter.HouseListDto">
		SELECT 
			 HOUSE_ID
			,USER_ID
			,CATEGORY_ID
			,HOUSE_ADDRESS
			,RENT
		FROM
			TBL_HOUSE
		WHERE
			RENT_FLAG = '0'
		AND
			DELETE_FLAG = '0'
</select>
</mapper>