<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomForRent.mapper.renter.RoomDetailMapper">
	<select id="getRoomDetailById" parameterType="String" resultType="roomForRent.dto.renter.RoomDetailDto">
		SELECT 
			 HOUSE_ADDRESS
			,NO_OF_GUESTS
			,NO_OF_ROOM
			,NO_OF_BATH
			,NO_OF_TOILET
			,AREA
			,NO_OF_FLOOR
			,NO_OF_AIRCON
			,WIFI
			,PHONE_ONE
			,PHONE_TWO
			,AVAILABLE_DATE
			,RENT
			,DEPOSIT
			,LONGITUDE
			,LATITUDE
			,RECOMMENTED_POINTS
			,CONTRACT_RULE
			,PERIOD
		FROM
			TBL_HOUSE
		WHERE
			HOUSE_ID = #{house_id}	
		AND
			RENT_FLAG = '0'
		AND
			DELETE_FLAG = '0'
	</select>
</mapper>