<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomForRent.mapper.owner.ChangePasswordMapper">

<select id="getRoomWithId" resultType="roomForRent.dto.owner.LoginDto"
        parameterType="String">
        SELECT
          user_id
        FROM
          TBL_USER
        WHERE
          user_id=#{user_id}
        AND
           delete_flag=0          
        
    </select>

<update id="updatepassword" parameterType="roomForRent.dto.owner.LoginDto">
        update TBL_USER
        set
        password=#{password}
        where user_id=#{user_id}
    </update>
    
</mapper>