<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomForRent.mapper.owner.UserMapper">

    
    
  <select id="getUserInfo" resultType="roomForRent.dto.owner.UserDto"
        parameterType="String">
        SELECT
          user_id,user_name,user_email,
          facebook_id,password,phone_one,
          phone_two,user_address,user_gender,
          user_dob,user_position
        FROM
          TBL_USER
        WHERE
          user_id=#{user_id}
        AND
           delete_flag=0          
        
    </select>  
    
    <update id="updateUserInfo" parameterType="roomForRent.dto.owner.UserDto">
	
	  UPDATE
	  	TBL_USER
	  SET 
	    user_name=#{user_name,jdbcType=VARCHAR},
        user_gender=#{user_gender,jdbcType=VARCHAR},        
        updator_id=#{updator_id,jdbcType=VARCHAR},
        user_dob=#{user_dob,jdbcType=DATE},
        update_datetime=#{update_datetime,jdbcType=DATE}
      WHERE
      	user_id=#{user_id,jdbcType=VARCHAR}
	  
	</update>
</mapper>